body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.results-pane {
	padding: .2rem 2.5rem;
}
h3 {
	text-transform: uppercase;
}
h3:hover {
	text-decoration: underline;
}