body, html {
  height: 90%;
}

body {
  /* display: flex; */
  font-family: arial,sans-serif;
  background-color: #fff;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.header {
  display: flex;
  font-size: 13.5px;
}

.as {
  display: flex;
  width: 100%;
}

.as > a {
  display: flex;
  padding: 1em 1em;
}

.gi {
  display: flex;
}

.gi > a {
  display: flex;
  padding: 1em 1em;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
  border-bottom: 0px solid #9e9e9e;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
  border-bottom: 0px solid #9e9e9e;
  box-shadow: 0 0 0 0 #26a69a;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
  height: 2em;
}

.card {
  display: flex;
  border-radius: 2px;
  width: 45%;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
}

.btn, .btn-large{
  color: #000;
  text-transform: none;
}

button {
  margin-left: 1em;
}